# Dependencias de Node (Backend)
node_modules/
package-lock.json

# Base de datos (no se suele subir, pero para esta práctica escolar quizás sí, 
# de momento la ignoramos para evitar conflictos si trabajaras en equipo)
*.sqlite
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log